@charset "UTF-8";

@font-face {
  font-family: idroid;
  src:url("idroid.otf") format("opentype");
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

header {
  background-image: linear-gradient(0deg,#033C1B, #1F7E48);
}

header > p {
  text-align: center;
  color: white;
  margin: 0px;
  padding: 0px;
}

nav {
  padding: 15px;
  margin-top: 15px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363);
}

nav > a {
  padding: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  
}

nav > a:hover {
  text-decoration: underline;
  background-color: #2f925c;
  transition: 1s;
}

a:hover{
  text-decoration: underline;
  background-color: #92e6b6b7;
  transition: 0.5s;
}

p > a {
  color: black;
  font-weight: bolder;
  text-decoration: none;
}

h1 {
  font-family:  Bebas Neue;
  font-size: 50px;
  padding-top: 30px;
  text-align: center;
  color: whitesmoke;
  text-shadow: 0px 0px 6px black;
  margin-bottom: 20px;
}

h2{
  font-family: idroid;
  background-image: linear-gradient(45deg,#68d196, #fff);
  border-radius: 5px;
  padding: 5px;
}

h3 {
  font-family: idroid;
  background-image: linear-gradient(45deg,#68d196, #fff);
  border-radius: 5px;
  padding: 5px;
  
}

body {
  background-color: #dcd8a9;
}

picture {
  display: block;
  margin: auto;
}

.imagem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.img-pequena {
  width: 50%;
  display: block;
  margin: auto;
}

main {
  background-color: white;
  min-width: 280px;
  max-width: 800px;
  display: block;
  text-align: justify;
  margin: 0px auto;
  padding: 30px;
  box-shadow: 0px 0px 7px black;
  margin-bottom: 30px;
  border-bottom-left-radius:10px ;
  border-bottom-right-radius:10px ;
}

p {
  text-indent: 15px;
  margin: 20px 0 15px 0;
  }

#video-01 {
  background-color:#1A5C38;
  width: 100%;
  height: 350px;
  justify-content: center;
  align-items: center;
  display: flex;
}

#extra{
  background-color: #C5EBD6;
  border-radius: 15px;
  padding: 20px 20px 10px 20px;
}

#h3-extra{
  margin: 0px;
}

li {
  list-style:none;
  
}
ul {
  margin-bottom: 15px; 
}

.lista {
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
  }

.texto-extra {
  padding: 0px;
}

footer {
  padding: 10px;
  color: white;
  background-color: #033C1B;
}

footer > p {
  padding: 0px;
  margin: 0;
  text-align: center;
}